apiVersion: v1
kind: Service
metadata:
  name: nginx-gateway
spec:
  type: LoadBalancer
  loadBalancerIP: 172.19.255.201
  selector:
    app: nginx-gateway
  ports:
    - name: http
      port: 80
      targetPort: 80
