apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: wellness-ingress-http
spec:
  ingressClassName: nginx
  rules:
    - host: wellness.local
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: nginx-gateway
                port:
                  number: 80
