name: Frontend CI

on:
    push:
        branches:
            - main
    pull_request:

jobs:
    frontend-ci:
        runs-on: self-hosted

        permissions:
            contents: read
            packages: write

        steps:
            - name: Checkout repo
              uses: actions/checkout@v4

            - name: Validate frontend structure
              run: |
                  test -f frontend/mi-web/index.html
                  test -d frontend/mi-web/css
                  test -d frontend/mi-web/js

            - name: Login to GHCR
              uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: Build frontend Docker image
              run: |
                  docker build \
                    -f frontend/Dockerfile.prod \
                    -t ghcr.io/${{ github.repository }}-frontend:latest \
                     frontend/

            - name: Push frontend Docker image
              run: |
                  docker push ghcr.io/${{ github.repository }}-frontend:latest
