name: Nginx CI - config validation

on:
    push:
        branches:
            - main
            - feature/**
    pull_request:

jobs:
    nginx-ci:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Validate nginx.prod.conf
              run: |
                  docker run --rm \
                    -v ${{ github.workspace }}/nginx/nginx.prod.conf:/etc/nginx/conf.d/default.conf:ro \
                    nginx:stable-alpine nginx -t
