name: Nginx CD

on:
    workflow_run:
        workflows: ["Nginx CI"]
        types:
            - completed
    workflow_dispatch:

jobs:
    deploy:
        runs-on: ubuntu-latest
        if: always()

        steps:
            - name: Deploy Nginx
              uses: appleboy/ssh-action@v1.0.3
              with:
                  host: ${{ secrets.SSH_HOST }}
                  username: ${{ secrets.SSH_USER }}
                  key: ${{ secrets.SSH_KEY }}
                  script_stop: true
                  script: |
                      cd /opt/wellness-ops
                      docker compose pull nginx
                      docker compose up -d --no-deps nginx
