name: Nginx CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  nginx-ci:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build nginx image
        run: |
          docker build \
            -f nginx/Dockerfile.prod \
            -t ghcr.io/${{ github.repository }}-nginx:latest \
            nginx

      - name: Push nginx image
        run: |
          docker push ghcr.io/${{ github.repository }}-nginx:latest
