name: Nginx CI - Docker build

on:
    push:
        branches:
            - main
            - feature/**
    pull_request:

jobs:
    nginx-build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            # Construimos la imagen de Nginx PROD
            # Esto valida:
            # - Dockerfile.prod
            # - COPY de nginx.prod.conf
            # - Contexto correcto
            - name: Build nginx production image
              run: |
                  docker build \
                    -f nginx/Dockerfile.prod \
                    -t wellness-nginx:ci \
                    nginx
