name: Nginx CD

on:
    workflow_run:
        workflows: ["Nginx CI"]
        types:
            - completed
    workflow_dispatch:

jobs:
    deploy:
        runs-on: self-hosted # ← aquí el cambio clave

        steps:
            - name: Deploy Nginx
              run: |
                  cd /opt/wellness-ops
                  docker compose pull nginx
                  docker compose up -d --no-deps nginx
