name: Nginx Root CI

on:
  push:
    branches:
      - main
      - feature/**
  pull_request:

jobs:
  nginx-ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Validate Nginx config
        run: |
          docker run --rm \
          -v ${{ github.workspace }}/nginx/nginx.ci.conf:/etc/nginx/conf.d/default.conf:ro \
          nginx:stable-alpine nginx -t

      - name: Build Nginx Docker image
        run: |
          docker build -t wellness-nginx:ci -f nginx/Dockerfile.prod nginx
