name: Nginx CI - Build & Push image

on:
    push:
        branches:
            - main

jobs:
    nginx-push:
        runs-on: ubuntu-latest

        permissions:
            contents: read
            packages: write # NECESARIO para subir imágenes a GHCR

        steps:
            # 1️⃣ Descarga el código del repositorio
            - name: Checkout repository
              uses: actions/checkout@v4

            # 2️⃣ Login en GitHub Container Registry (GHCR)
            # Usa el token automático de GitHub Actions
            - name: Login to GHCR
              uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            # 3️⃣ Build de la imagen de Nginx de producción
            # Tag "latest" para consumo sencillo
            - name: Build nginx production image
              run: |
                  docker build \
                    -f nginx/Dockerfile.prod \
                    -t ghcr.io/${{ github.repository }}-nginx:latest \
                    nginx

            # 4️⃣ Push de la imagen al registry
            # La imagen queda disponible para CD
            - name: Push nginx image to GHCR
              run: |
                  docker push ghcr.io/${{ github.repository }}-nginx:latest
