name: Nginx CD

on:
    workflow_run:
        workflows: ["Nginx CI"]
        types:
            - completed
    workflow_dispatch:

jobs:
    deploy:
        runs-on: self-hosted

        steps:
            - name: Deploy Nginx
              working-directory: /opt/wellness-ops
              run: |
                  docker compose -f docker-compose.prod.yml pull nginx
                  docker compose -f docker-compose.prod.yml up -d --no-deps nginx
