name: Stack CD (Production)

on:
  workflow_dispatch: # SOLO manual

jobs:
  deploy:
    runs-on: self-hosted
    environment: production

    steps:
      - name: Show runner info
        run: |
          echo "RUNNING ON:"
          hostname
          whoami
          pwd
          docker version
          docker compose version

      - name: Ensure clean repo
        run: |
          cd /opt/wellnes-ops
          git fetch origin main
          git reset --hard origin/main

      - name: Pull images
        run: |
          cd /opt/wellnes-ops
          docker compose -f docker-compose.prod.yml pull

      - name: Deploy stack
        run: |
          cd /opt/wellnes-ops
          docker compose -f docker-compose.prod.yml up -d

      - name: Show running containers
        run: docker ps

      - name: Wait for services
        run: sleep 10

      - name: Backend healthcheck
        run: |
          curl -fsS http://localhost/api/health

      - name: Nginx healthcheck (HTTP + HTTPS)
        run: |
          curl -fsS http://localhost/
          curl -kfsS https://localhost/

          - name: Ensure clean repo state
            run: |
              cd /opt/wellnes-ops
              git fetch origin main --prune
              git reset --hard origin/main
